[submodule "src/cpp/3rdparty/clickhouse-cpp"]
	path = src/cpp/3rdparty/clickhouse-cpp
	url = https://github.com/ClickHouse/clickhouse-cpp.git
[submodule "src/cpp/3rdparty/mINI"]
	path = src/cpp/3rdparty/mINI
	url = https://github.com/metayeti/mINI.git
